
.background {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url('./images/pexels-photo-46277.jpeg');
    background-position: center;
    background-repeat: no-repeat;   
}

