@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  overflow-x: scroll;
  height: 100vh;
  background-color: #dddddd;
}

/* basic stylings ------------------------------------------ */
.container {
  margin: auto;
  padding: 10px 50px 50px;
  /* font-family: "Roboto";
  width: 600px;
  display: block; */
}


/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@media screen and (max-width: 320px) {
  body {
    font: 0.25rem;
  }
}
@media screen and (max-width: 1204px) {
  body {
    font: 1rem;
  }
}
